.categories-base {
  height: auto;
  background: var(--CATEGORIES-BG);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.category {
  height: 10rem;
  position: relative;
  opacity: 0.8;
  margin: 1rem auto;
}

.category img {
  height: 100%;
  width: auto;
  margin: 1rem auto;
  border-radius: 50%;
}

.category .overlay-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
  background: var(--PURE-WHITE);
}

.category .overlay-text .link-text {
  color: var(--SECONDARY-TEXT);
}

.overlay-text:hover {
  cursor: pointer;
}
