.cart-page {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  width: 80%;
  padding-top: 5rem;
  margin: auto;
}

.cart-items {
  display: flex;
  flex-wrap: wrap;
}

.card-block {
  display: flex;
  height: 15rem;
  width: 48rem;
  gap: 1rem;
  background-color: var(--CARD-BG);
  border-radius: 4px;
  overflow: hidden;
  padding: 1rem 4px;
  margin: 0 1rem;
}

.item-img-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: auto;
  aspect-ratio: 1/1;
}

.item-img {
  height: 98%;
  margin: auto;
}

.item-details {
  gap: 5px;
}

.quantity,
.quantity-options {
  display: flex;
  gap: 1rem;
}

.quantity-options button {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  border: none;
  background: var(--SHADOW-GREY);
}

.item-details > button {
  width: 95%;
}

.cart-summary .price-details {
  width: 20rem;
  background-color: var(--CARD-BG);
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price-child {
  display: flex;
  justify-content: space-between;
}
