@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,400&family=Amatic+SC:wght@400;700&family=Andika+New+Basic:ital,wght@1,700&family=Comforter&family=Montserrat:ital,wght@1,800&family=Open+Sans:wght@300;500&family=Roboto:wght@100;700&display=swap");
@import url("https://clay-ui.netlify.app/stylesheets/index.css");

:root {
  --HEADER-BG: #f5f3f3;
  --SEARCH-BAR-BG: #e1dede;
  --CATEGORIES-BG: #4a3636;
  --CAROUSEL-BG: #f6f1ef;
  --NEW-ARRIVALS-BG: #ebdcdc;
  --PRIMARY-BG: #5c4545;
  --CARD-BG: #f5f3f3;
}

body {
  font-family: Roboto, sans-sarif;
  font-weight: 400;
}

.page-body {
  position: absolute;
  top: 4rem;
  width: 100%;
}

.empty-description {
  color: rgb(82, 80, 80);
}

.empty-page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.empty-icon {
  font-size: 48px;
  margin: 1rem 0px;
  color: rgb(82, 80, 80);
}

.products-list .empty-page {
  left: 60%;
}

.card-container {
  width: 17rem;
}

.card-body {
  min-height: 3.68rem;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
